.pf2e-extempore-effects-hidden-effect-on-sheet {
    -webkit-filter: drop-shadow(1px 1px 5px purple);
}
.pf2e-extempore-effects-hidden-effect-on-token-hud {
    -webkit-filter: drop-shadow(1px 1px 3px purple);
}
.pf2e-extempore-effects-hidden-effect-on-effects-panel {
    -webkit-filter: drop-shadow(-7px 7px 7px purple);
}